 .filter-buttona
{
   background-color: var(--primary-color) !important;
  color: var(--text-color) !important;
  margin-top: 2.5%;

}

.modal-content{
  background:var(--background-color);
 
}
.modal-content form input,select{
  color:black;
}